*{
    margin:0;
    padding:0;
}
body{
    background: whitesmoke;
    font-family: 'barlow semi condensed', sans-serif;
    line-height: 1.7;
    font-size: 13px;


}
.testimonials{
    width: 1440px;
    margin :100px auto;
    padding: 20px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
}
.card{
    
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin:20px;
    background-image: url(./images/cart-item-2.png);
    background-repeat: no-repeat;
    background-position:  top 10px right 10px;
    box-shadow: rgba(17,12,46,0.5) 0px 48px 100px 0px;
}
img{
    width: 50 px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid purple;

    margin-right: 20px;
}
.card-header{
    display: flex;
}
#log{
    opacity: 50%;
    font-size: 13px;
}
.class_quote{
    font-size: 24px;
    font-weight: 500;
    margin: 20px;
}
.card_info{
    font-size: 16px ;
    margin:10px;
    line-height: 1.5em;

}
.card:nth-of-type(1){
    grid-column: 1/3;
    background-color: purple;
}
.card:nth-of-type(2){
    
    background-color: white;
}
.card:nth-of-type(3){
    grid-row: 1/3;
    grid-column: 4/5;
    background-color: grey;

}
.card:nth-of-type(4){
    
    background-color: salmon;
}
.card:nth-of-type(5){
    grid-column: 2/4;
    background-color: brown;
    
}

